<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62831926704-bru22sabh2kecibdoaboo4vepbu0n4v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62831926704-bru22sabh2kecibdoaboo4vepbu0n4v8</string>
	<key>API_KEY</key>
	<string>AIzaSyCf04A8fUSM9Bc2f1f7UQOS4R7OFh5OZw0</string>
	<key>GCM_SENDER_ID</key>
	<string>62831926704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>glebmariaskin.WashMe</string>
	<key>PROJECT_ID</key>
	<string>washme-a52cb</string>
	<key>STORAGE_BUCKET</key>
	<string>washme-a52cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62831926704:ios:7ccaf334012cb1cc454a75</string>
</dict>
</plist>